<div class="gpt3__whatgpt3 section__margin" id="wgpt3" appIntersection animation="translateY(-100px)" stopAnimation="translateY(0px)">
  <div class="gpt3__whatgpt3-feature">
    <app-feature title="What is GPT-3" text="We so opinion friends me message as delight. Whole front do of plate heard oh ought. His defective nor convinced residence own. Connection has put impossible own apartments boisterous. At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by."></app-feature>
  </div>
  <div class="gpt3__whatgpt3-heading">
    <h1 class="gradient__text">
      The possibilities are beyond your imagination
    </h1>
    <p>Explore The Library</p>
  </div>
  <div class="gpt3__whatgpt3-container">
    <app-feature title="Chatbots" text="We so opinion friends me message as delight. Whole front do of plate heard oh ought. "></app-feature>
    <app-feature title="Knowledgebase" text="At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by. As put impossible own apartments b"></app-feature>
    <app-feature title="Education" text="At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by. As put impossible own apartments b"></app-feature>
  </div>
</div>
