.gpt3__whatgpt3 {
    display: flex;
    flex-direction: column;
  position: relative;
    padding: 2rem;
    background: #042c54;
  overflow: hidden;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.gpt3__whatgpt3::before {
  content: "";
  position: absolute;
  background: #1B78DE;
  width: 300px;
height: 300px;
border-radius: 50%;
bottom: -150px;
right: -150px;
    filter: blur(120px);
    z-index: -1;
}
.gpt3__whatgpt3::after {
  content: "";
  position: absolute;
  background: #1B78DE;
  width: 300px;
height: 300px;
border-radius: 50%;
top: -150px;
left: -150px;
filter: blur(150px);
z-index: -1;
}
.gpt3__whatgpt3-feature {
  display: flex;
}

.gpt3__whatgpt3-feature .gpt3__features-container__feature{
margin: 0;
}

.gpt3__whatgpt3-feature .gpt3__features-container__feature-text{
max-width: 700px;
}
.gpt3__whatgpt3-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem
}
.gpt3__whatgpt3-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  max-width: 510px;
  font-family: var(--font-family);

}
.gpt3__whatgpt3-heading p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--color-subtext);
  cursor: pointer;
}

.gpt3__whatgpt3-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}


/* Customizing feature component as per needs */
::ng-deep .gpt3__whatgpt3-container .gpt3__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  flex-direction: column;
}
::ng-deep .gpt3__whatgpt3-feature .gpt3__features-container_feature-taxt {
  flex: 2;
  max-width: 790px;
  display: flex;
}
::ng-deep .gpt3__whatgpt3-container .gpt3__features-container_feature-taxt {
  flex: 1;
  max-width: 290px;
  display: flex;
}
/* Customizing feature component as per needs */
::ng-deep .gpt3__whatgpt3-container .gpt3__features-container_feature-text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .gpt3__whatgpt3-heading {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
  }

  .gpt3__whatgpt3-heading p {
      margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  ::ng-deep .gpt3__whatgpt3-feature .gpt3__features-container__feature {
      flex-direction: column;
  }

  /* Customizing feature component as per needs */
  ::ng-deep .gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
      margin-top: 0.5rem;
  }

  .gpt3__whatgpt3-heading h1 {
      font-size: 28px;
      line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  ::ng-deep .gpt3__whatgpt3-container .gpt3__features-container__feature {
      margin: 1rem 0;
      min-width: 100%;
  }
}

