
<div class="gpt3__blog section__padding" id="library">
  <div class="gpt3__blog-heading" appIntersection animation="translateY(-100px)" stopAnimation="translateY(0px)">
    <h1 class="gradient__text">
      A lot is happening,We are blogging about it.
    </h1>
  </div>
  <div class="gpt3__blog-container" >
    <div class="gpt3__blog-container__groupA" appIntersection animation="translateX(-100px)" stopAnimation="translateX(0px)">
      <app-article img="assets/blog01.png" title="GPT-3 and Open  AI is the future. Let us exlore how it is?" date="Sep 26, 2021"></app-article>
    </div>
    <div class="gpt3__blog-container__groupB" appIntersection  animation="translateY(100px)" stopAnimation="translateY(0px)">
      <app-article [img]="article.img" [title]="article.title"  [date]="article.date" *ngFor="let article of articles"></app-article>
    </div>
  </div>
</div>
